/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable no-missing-end-of-source-newline */
.container {
  position: relative;
  width: 375px;
}

.headline {
  background-image: url(icons/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0px;
  top: 92px;
}

.navItems {
  position: absolute;
  left: 0px;
  right: 0px;
}

.navItems a {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 0px;
}

.navItems .logo {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.navItems .bars {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header {
  position: static;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 50px 0px;
}

.black {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

#headline_text {
  height: 164px;
  width: 327px;
  left: 24px;
  top: 314px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.socials {
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  top: 536px;
  order: 2;
  flex-grow: 0;
  margin-right: 50px;
}

.angle-down {
  order: 3;
  flex-grow: 0;
  margin: 58px 0px;
}

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  position: absolute;
  width: 379px;
  left: 0px;
  top: 708px;
  margin: 20% 0%;
}

#recent-work-caption {
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  position: static;
  width: 327px;
  height: 97px;
  left: 0px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

#indicator {
  flex-grow: 0;
  margin: 24px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  grid-template-rows: auto;
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 0.13%;
  bottom: 83.92%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project-image-div {
  display: flex;
  padding: 16px;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  border-radius: 8px;
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  bottom: 0px;
  border-radius: 8px;
  background: #fff;
}

.stories {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.flex-item ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 305px;
  height: 32px;
  left: 11px;
  top: 89px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.flex-item ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: static;
  left: 36.39%;
  right: 48.85%;
  top: 0%;
  bottom: 0%;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.btn-div {
  position: static;
  height: 69px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  background: #36b37f;
  border-radius: 4px;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 351px;
  height: 333px;
  left: 12px;
  top: calc(50% - 333px / 2 - 582px);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 58px 0px;
}

.about-header h2 {
  position: static;
  justify-content: center;
  width: 351px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.about-header h4 {
  position: static;
  width: 351px;
  height: 189px;
  left: 0px;
  top: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.resume-btn {
  position: static;
  width: 159px;
  height: 48px;
  left: 96px;
  top: 285px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex-direction: row;
  padding: 12px;
  color: #fff;
  background: #36b37f;
  border: 0;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0px;
}

.about-div {
  padding-bottom: 20px;
  width: 100%;
  background:
    url(icons/illustration\ 1-\ about\ me-top-right.png) top right no-repeat,
    url(icons/Frame-bottom-left.png) bottom left no-repeat;
}

.about-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-me-img {
  margin-top: 40px;
  width: 327px;
  height: 352px;
  background: url(icons/icon-languages.png) center top no-repeat;
}

.about-me-img2 {
  margin-top: 40px;
  width: 327px;
  height: 352px;
  background: url(icons/icon-frameworks.png) center top no-repeat;
}

.about-me-img3 {
  margin-top: 40px;
  width: 327px;
  height: 352px;
  background: url(icons/icon-skills.png) center top no-repeat;
}

.about-me-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: calc(50% - 327px / 2);
}

.about-me-frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: calc(50% - 327px / 2);
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: calc(50% - 327px / 2);
}

.about-me-details ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  position: static;
  width: 271px;
  height: 40px;
  left: calc(50% - 271px / 2);
  top: 56px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style-type: none;
  margin: 24px 0px;
}

.about-me-details ul #j {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-me-details ul #r {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-me-details ul #h {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-me-details ul #c {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-me-frameworks #ul-1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 266px;
  height: 40px;
  left: calc(50% - 266px / 2);
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.about-me-frameworks #ul-2 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0px;
  position: static;
  width: 172px;
  height: 40px;
  left: calc(50% - 172px / 2);
  top: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.about-me-skills #ul-3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  height: 40px;
  left: calc(50% - 303px / 2);
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  background-color: #36b37e;
}

.about-me-skills #ul-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 77px;
  height: 40px;
  left: calc(50% - 77px / 2);
  top: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.about-me-frameworks ul #b {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-frameworks ul #r-on-rails {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-frameworks ul #r-spec {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-frameworks ul #cap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-frameworks ul #sele {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-skills ul #codekit {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-skills ul #github {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-skills ul #codepen {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0px 8px;
}

.about-me-skills ul #gitlab {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  margin-right: 28px;
}

.about-me-skills ul #terminal {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}