/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable no-missing-end-of-source-newline */
.container {
  position: relative;
  width: 375px;
  height: 6715px;
  /* background: #fff; */
  background-color: fuchsia;
}

.headline {
  background-image: url(icons/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0px;
  top: 92px;
}

.navItems {
  position: absolute;
  left: 0px;
  right: 0px;
}

.navItems a {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 0px;
}

.navItems .logo {
  text-decoration: none;
}

.navItems .bars {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.heading {
  position: static;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 50px 0px;
}

.black {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

#headline_text {
  height: 164px;
  width: 327px;
  left: 24px;
  top: 314px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.socials {
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  top: 536px;
  order: 2;
  flex-grow: 0;
  margin-right: 50px;
}

.angle-down {
  order: 3;
  flex-grow: 0;
  margin: 58px 0px;
}

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  position: absolute;
  width: 379px;
  height: 3283px;
  left: 0px;
  top: 708px;
}

#recent-work-caption {
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
}

#indicator {
  flex-grow: 0;
  margin: 24px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 0.13%;
  bottom: 83.92%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project-image-div {
  display: flex;
  padding: 16px;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  border-radius: 8px;
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  bottom: 0px;
  border-radius: 8px;
  background: #fff;
}

.stories {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.flex-item ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: center;
  position: static;
  width: 305px;
  height: 32px;
  left: 11px;
  top: 89px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.flex-item ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  position: static;
  left: 36.39%;
  right: 48.85%;
  top: 0%;
  bottom: 0%;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.btn-div {
  position: static;
  height: 69px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}
